.container2 {
    width: 43.39286rem;
    background-color: transparent;
    /* Assuming background based on the image */
    padding: 2rem;
    border-radius: 8px;
}

.title {
    color: #c875d5;
    font-family: Montserrat;
    font-size: 1.57143rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    letter-spacing: 0.03143rem;
    text-transform: uppercase;
}

.subtitle {
    color: #ffffff;
    font-family: Montserrat;
    font-size: 2.71429rem;
    font-style: normal;
    font-weight: 700;
    line-height: 2.85714rem;
    /* 105.263% */
    letter-spacing: 0.16286rem;
    text-transform: capitalize;
    margin-top: 1rem;
}

.text {
    color: #bdbdbd;
    font-family: Montserrat;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: 2.64rem;
    /* 264% */
    letter-spacing: 0.04rem;
    text-transform: uppercase;
    margin-top: 3.5rem;
}