.grid-first {
    margin-top: 15rem;
    margin-left: 14rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    width: 100%;
    padding: 2rem;
    margin-bottom: 2rem;

}

.column-first {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.services {
    margin-bottom: 9rem;
    display: flex;
    justify-content: center;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
    width: 100%;
    padding: 1rem;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 6rem;
    /* padding: 0.5rem; */
}

.large-text {
    text-align: center;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.20);
    font-family: 'Montserrat', sans-serif;
    font-size: 5.71429rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.05714rem;
    text-transform: uppercase;
    background: linear-gradient(90deg, #6BADFC 45.59%, #5E68F6 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.large-text-alt {
    text-align: center;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.20);
    font-family: 'Montserrat', sans-serif;
    font-size: 5.71429rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.05714rem;
    text-transform: uppercase;
    background: linear-gradient(90deg, #5E6AF6 0%, #DF669F 76.39%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.large-text-alt2 {
    text-align: center;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.20);
    font-family: 'Montserrat', sans-serif;
    font-size: 5.71429rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.05714rem;
    text-transform: uppercase;
    background: linear-gradient(90deg, #DF669F 4.99%, #F6565B 94.79%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.small-text {
    color: #FFF;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.42857rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.05714rem;
    text-transform: uppercase;
    margin-top: 1rem;
}

.grid2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    width: 100%;
    padding: 2rem;
}

.column2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.horn-image {
    width: 100%;
    height: auto;
}

.advertise-card {
    margin-bottom: 2rem;
}

.grid3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
    width: 100%;
    padding-bottom: 8rem;
}

.column3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}